* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$primary-color: #25242a;
$secondary-color: #eece1a;

@mixin easeOut {
  transition: 0.3s all ease-in-out;
}

body {
  height: 100%;
  background: $primary-color;
  margin: 0;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  font-weight: 400;

  &.site__main--heading {
    font-size: 6rem;
  }

  &.site__main--headingSmall {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($color: $primary-color, $amount: 2), 0.5);
  }
}

// Links
a {
  color: white;
  text-decoration: none;
}

// Header
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .site__icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}
