// Menu-button
.site {
  &__header--burger {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    &:hover {
      cursor: pointer;
      @include easeOut;
    }

    .burgerLine {
      width: 28px;
      height: 3px;
      background: #fff;
      margin: 0 0 5px 0;
      @include easeOut;
    }
  }

  &__header--menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;

    &.show {
      visibility: visible;
    }

    .menu {
      &-branding,
      &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
      }

      &-branding {
        background: $primary-color;
        transform: translate3d(200%, 0, 0);
        transition: ease 0.8s all;

        &.show {
          // Slide in from the right
          transform: translate3d(0, 0, 0);
        }

        .portrait {
          width: 100%;
          height: 100%;
          background: url("../../dist/img/portait.JPG");
          background-size: cover;
          background-position: center;
        }
      }

      &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        list-style: none;
        transform: translate3d(-200%, 0, 0);
        transition: ease 0.8s all;

        &.show {
          // Slide in from the left
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}

.close {
  .burgerLine--1 {
    @include easeOut;
    transform: rotateZ(50deg);
  }

  .burgerLine--2 {
    @include easeOut;
    transform: translateX(-30rem);
    opacity: 0;
  }

  .burgerLine--3 {
    @include easeOut;
    transform: translateY(-1rem) rotateZ(-50deg);
  }
}

// Menu Overlay
.menu {
}
