// Widescreens
@include mediaXL {
}

// Desktops & Laptops
@include mediaLg {
}

// Tablets & Notebooks
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .site__main--heading {
      line-height: 1.2;
      margin-bottom: 1rem;
    }
  }

  .site {
    ul.menu-nav,
    div.menu-branding {
      float: none;
      width: 100%;
      min-height: 0;
    }

    .menu-nav {
      height: 75vh;
      font-size: 24px;
      transform: translate3d(200%, 0, 0);
      &.show {
        // Slide in from the right
        transform: translate3d(0, 0, 0);
      }
    }

    .menu-branding {
      height: 25vh;
      transform: translate3d(-200%, 0, 0);
      &.show {
        // Slide in from the left
        transform: translate3d(0, 0, 0);
      }
    }

    &__main--aboutInfo {
      grid-template-areas:
        "bioimage"
        "bio"
        "job1"
        "job2"
        "job3";

      grid-template-columns: 1fr;
    }
  }
}

// Smartphones
@include mediaSm {
}
