// Widescreens
@include mediaXL {
}

// Desktops & Laptops
@include mediaLg {
}

// Tablets & Notebooks
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .site__main--heading {
      line-height: 1.2;
      margin-bottom: 1rem;
    }
  }

  .site {
    ul.menu-nav,
    div.menu-branding {
      float: none;
      width: 100%;
      min-height: 0;
    }

    .menu-nav {
      height: 75vh;
      font-size: 24px;
    }
  }
}

// Smartphones
@include mediaSm {
}
