// Widescreens
@include mediaXL {
}

// Desktops & Laptops
@include mediaLg {
}

// Tablets & Notebooks
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .site__main--heading {
      line-height: 1.2;
      margin-bottom: 1rem;
    }
  }
}

// Smartphones
@include mediaSm {
}
